* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif ;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0A5BA8;
}
nav img {
    width: 200px;
    height: auto;
    margin-left: 20px;
    padding: 20px;
}

nav h1 {
    margin-right: 25%;
    color: white;
}

.Page-Selector {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
    margin-left: 3%;
    padding-left: 5px;
    padding-right: 5px;
}

.Page-Selector a {
    text-decoration: none;
    color: black;
    border-bottom: solid 2px;
    width: 14%;
    height: 30px;
    align-content: center;
    padding-left: 10px;
}

.pie-chart {
    display: flex;
    width: 523px;
    height: 605px;
    border-top: #0A5BA8 11px solid;
    box-shadow: black 10;
    border: solid;
    gap: 10px;
}

#Total-Annual-Income, #Total-Expenses {
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    width: 244px;
    height: 119px;
    justify-content: center;

}

#Total-Annual-Income h4 {
    color: #757575;
    
}
#Total-Annual-Income p {
    color: #00D200;
}

