* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif ;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0A5BA8;
}
nav img {
    width: 200px;
    height: auto;
    margin-left: 20px;
    padding: 20px;
}

nav h1 {
    margin-right: 25%;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img {
    width: 100%;
    height: auto;
    margin-bottom: 3%;
}

.bottom-part {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.image a {
    margin-top: 10px;
    font-size: 18px;
    color: #ffffff;
    background-color: #0A5BA8;
    padding: 7px 40px;
    text-decoration: none;
}

.image a:hover {
    opacity: 0.8;
        animation: Big 0.3s forwards;
}

@keyframes Big {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}