/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif ;
}

/*Nav Bar*/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0A5BA8;

}
nav img {
    width: 200px;
    height: auto;
    margin-left: 20px;
    padding: 20px;
}

nav h1 {
    margin-right: 25%;
    color: white;
}

/*Page Selector*/

.Page-Selector {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    gap: 4px;

    margin-bottom: 40px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 4px;
}

.Page-Selector button {
    color: #767676;
    background-color: #D9D9D9;
    text-decoration: none;
    border: 0px;
    border-bottom: solid 2px;
    width: 14%;
    height: 30px;
    align-content: center;
    padding-left: 10px;

    text-align: left;
}

.navItem.selected {
    color: #000000; 
}

/*Piechart Section*/

.pie-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 60vh;
    border-top: #0A5BA8 11px solid;
    box-shadow: 0px 4px 6.3px 2px rgba(0, 0, 0, 0.25);
    padding-left: 20px;
    padding-right: 20px;
    padding: 20px;
}

#analysisBoxes {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
}

#chart {
    width: 90%;
    height: 80%;
    
}

#Total-Annual-Income, #Total-Expenses {
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    height: 119px;
    width: 50%;
    justify-content: center;
    padding: 10px;

}

#Total-Annual-Income h4 {
    color: #757575;
    
}
#Total-Annual-Income p {
    color: #00D200;
}

#Total-Expenses h4 {
    color: #757575;
}

#Total-Expenses p {
    color: #d20000;
}

/*index.html*/

#indexMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#indexMain img {
    width: 100%;
    height: auto;
    margin-bottom: 3%;
}

.bottom-part {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.image a {
    margin-top: 10px;
    font-size: 18px;
    color: #ffffff;
    background-color: #0A5BA8;
    padding: 7px 40px;
    text-decoration: none;
}

.image a:hover {
    opacity: 0.8;
    animation: Big 0.3s forwards;
}

/* Main tag */
main {
    margin: 0px 20px;
}

main #mainContent {
    display: grid;
    grid-template: auto / 3fr 5fr;
    gap: 85px;
}

/* Input Fields */
/* U need .field to make .hidden work */
.field.hidden {
    display: none
}

.field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 60vh;
    border-top: #0A5BA8 11px solid;
    box-shadow: 0px 4px 6.3px 2px rgba(0, 0, 0, 0.25);
    padding-left: 20px;
    padding-right: 20px;
    & > p {
        color: #767676;
        margin-bottom: 10px;
    }
    & > h4 {
        color: #656565;
        font-weight: 600;
    }
}

.field h1 {
    color: #000000;
    padding-top: 20px;
    font-size: x-large;
}

.field input {
    width: 100%;
    height: 30px;
    border: 2px 2px solid #D9D9D9;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 30px;
}

.field select {
    width: 100%;
    height: 30px;
    border: 2px 2px solid #D9D9D9;
    border-radius: 5px;
    padding-left: 10px;
}

#nextStep {
    display: block;
    width: 160px;
    height: 40px;
    text-align: center;
    margin-top: 80px;
    margin-left: auto;
    font-size: 18px;
    color: #ffffff;
    background-color: #0A5BA8;
    text-decoration: none;
    align-content: center;
}

/*animations*/
@keyframes Big {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}